<div class="container">
  
  <div class="row mb-5 justify-content-center">
    <div class="display-3 font-weight-bold">会員情報の編集</div>
  </div>
  
  <%= form_with model: @customer, url: update_information_path do |f| %>
    <div class="row mb-5">
      
      <div class="col-4">
        <div class="row mb-4 d-flex">
          <%= f.label "姓", class: 'col-form-label col-4' %>
          <%= f.text_field :last_name, autofocus: true, maxlength: "8", class: 'form-control col-8 ml-auto' %>
        </div>
        <div class="row mb-4 d-flex">
          <%= f.label "セイ", class: 'col-form-label col-4' %>
          <%= f.text_field :last_name_kana, maxlength: "8", class: 'form-control col-8 ml-auto' %>
        </div>
        <div class="row mb-4 d-flex">
          <%= f.label "メール", class: 'col-form-label col-4' %>
          <%= f.text_field :email, autocomplete: "email", class: 'form-control col-8 ml-auto' %>
        </div>
        <div class="row mb-4 d-flex">
          <%= f.label "パスワード", class: 'col-form-label col-4' %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control col-8 ml-auto' %>
      　</div>
      </div>
      
      <div class="col-4">
        <div class="row mb-4 d-flex">
          <%= f.label "名前", class: 'col-form-label col-4' %>
          <%= f.text_field :first_name, maxlength: "8", class: 'form-control col-8 ml-auto' %>
        </div>
        <div class="row mb-4 d-flex">
          <%= f.label "ナマエ", class: 'col-form-label col-4' %>
          <%= f.text_field :first_name_kana, maxlength: "8", class: 'form-control col-8 ml-auto' %>
        </div>
        <div class="row mb-4 d-flex">
          <%= f.label "電話番号", class: 'col-form-label col-4' %>
          <%= f.text_field :telephone_number, maxlength: "8", class: 'form-control col-8 ml-auto' %>
        </div>
        <div class="row mb-4 d-flex">
          <%= f.label "パス確認", class: 'col-form-label col-4' %>
          <%= f.text_field :password_confirmation, autocomplete: "new-password", class: 'form-control col-8 ml-auto' %>
      　</div>
      </div>
      
      <div class="col-4">
        <div class="row mb-4 d-flex">
          <%= f.label "郵便番号", class: 'col-form-label col-4' %>
          <%= f.text_field :postal_code, class: 'form-control col-8 ml-auto' %>
        </div>
        <div class="row mb-4 d-flex">
          <%= f.label "都道府県", class: 'col-form-label col-4' %>
          <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name, {}, class: 'form-control col-8 ml-auto' %>
        </div>
        <div class="row mb-4 d-flex">
          <%= f.label "市町村", class: 'col-form-label col-4' %>
          <%= f.text_field :city, class: 'form-control col-8 ml-auto' %>
        </div>
        <div class="row mb-4 d-flex">
          <%= f.label "番地", class: 'col-form-label col-4' %>
          <%= f.text_field :street, class: 'form-control col-8 ml-auto' %>
        </div>
        <div class="row mb-4 d-flex">
          <%= f.label "建物名", class: 'col-form-label col-4' %>
          <%= f.text_field :other_address, class: 'form-control col-8 ml-auto' %>
        </div>
      </div>
      
    </div>
    <div class="row mb-5 d-flex justify-content-around">
      <%= f.submit "編集完了", class: 'btn btn-danger btn-lg rounded-pill' %>
      <%= link_to "退会確認", confirm_unsubscribe_path, class: 'btn btn-secondary btn-lg' %>
    </div>
  <% end %>
  
</div>