<h1>問合せ 確認ページ</h1>

<!-- 画面で確認する内容 -->
<%= @contact.customer_id %><br/>
<%= @contact.contat_genre_id %><br/>
<%= @contact.name %><br/>
<%= @contact.email %><br/>
<%= @contact.inquiry %><br/>

<!-- createアクションに渡す内容 -->
<%= form_with model: @contact, url: contacts_path, method: :post do |f| %>
    <%= f.hidden_field :contat_genre_id, value: @contact.contat_genre_id %>
    <%= f.hidden_field :name, value: @contact.name %>
    <%= f.hidden_field :email, value: @contact.email %>
    <%= f.hidden_field :inquiry, value: @contact.inquiry %>
    <%= f.submit "管理者へ送信" %>
<% end %>