<div class="container">
    
    <!-- タイトル -->
    <div class="row mb-5 justify-content-center">
        <div class="display-3 font-weight-bold">お問合せ確認ページ</div>
    </div>
    
    <!-- 入力フォーム-->
    <%= form_with model: @contact, url: contacts_path, method: :post do |f| %>
    
        <!-- 表示する内容 -->
        <div class="form-group row mb-5 justify-content-center">
            <div class="col-sm-2 col-form-label">
                <%= f.label :contact_genre_id, "お問合せジャンル" %>
            </div>
            <div class="col-sm-5 py-2 text-secondary">
                <%= @contact_genre.name %>
            </div>
        </div>
        <div class="form-group row mb-5 justify-content-center">
            <div class="col-sm-2 col-form-label">
                <%= f.label :contact_genre_id, "宛名" %>
            </div>
            <div class="col-sm-5 py-2 text-secondary">
                <%= @contact.name %>
            </div>
        </div>
        <div class="form-group row mb-5 justify-content-center">
            <div class="col-sm-2 col-form-label">
                <%= f.label :contact_genre_id, "メールアドレス"%>
            </div>
            <div class="col-sm-5 py-2 text-secondary">
                <%= @contact.email %>
            </div>
        </div>
        <div class="form-group row mb-5 justify-content-center">
            <div class="col-sm-2 col-form-label">
                <%= f.label :contact_genre_id, "お問合せ内容" %>
            </div>
            <div class="col-sm-5 py-2 text-secondary">
                <%= @contact.inquiry %>
            </div>
        </div>
        <div class="row mb-5 justify-content-center">
            <div class="col-sm-auto">
                <%= f.submit "お問合せを確定する", class: 'btn btn-danger btn-lg rounded-pill' %>
            </div>
        </div>

        <!-- createアクションに渡す内容 -->
        <%= f.hidden_field :contact_genre_id, value: @contact.contact_genre_id %>
        <%= f.hidden_field :name, value: @contact.name %>
        <%= f.hidden_field :email, value: @contact.email %>
        <%= f.hidden_field :inquiry, value: @contact.inquiry %>
        
    <% end %>
    
</div>