<h1>問合せ 入力ページ</h1>

<%= form_with model: @contact, url: contacts_confirm_path, method: :post do |f| %>

    ジャンル選択：<%= f.select :contat_genre_id, @contact_genres %><br/>
    宛名：<%= f.text_field :name %><br/>
    メールアドレス：<%= f.email_field :email %><br/>
    問合せ内容：<%= f.text_field :inquiry %><br/>
    <%= f.submit "問合せ内容の確認へ" %><br/>
<% end %>