<h1>問合せジャンル 一覧ページ</h1>

<% @contact_genres.each do |genre| %>
    <%= link_to genre.name, edit_admin_contact_genre_path(genre.id) %>
    <%= genre.id %><br/>
<% end %>

<%= form_with model: @contact_genre, url: admin_contact_genres_path do |f| %>
    <%= f.text_field :name %>
    <%= f.submit "登録" %>
<% end %>