<div class="container">
  
  <!-- タイトル -->
  <div class="row mb-5 justify-content-center">
    <div class="display-3 font-weight-bold">管理者ログイン</div>
  </div>
  
  <div class="container mb-5">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        
        <!-- 入力フォーム -->
        <div class="row justify-content-center mb-4">
          <%= f.label :email, "メール", class: 'col-2 col-form-label' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'col-5 form-control' %>
        </div>
        <div class="row justify-content-center mb-4">
          <%= f.label :password, "パスワード", class: 'col-2 col-form-label' %>
          <%= f.password_field :password, autocomplete: "current-password", class: 'col-5 form-control' %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="row actions justify-content-center mb-4">
            <%= f.check_box :remember_me, class: 'col-2 col-form-label' %>
            <%= f.label :remember_me, "パスワードを保存", class: 'col-5' %>
          </div>
        <% end %>
      
        <div class="row mb-4 actions d-flex justify-content-center">
          <%= f.submit "ログイン", class: 'col-2 mr-5 btn btn-secondary btn-lg rounded-pill' %>
        </div>
      
    <% end %>
  </div>
  
</div>