<h1>注文履歴 詳細ページ</h1>

<%= flash[:notice] %><br/>

<%= link_to @order.name, admin_customer_path(@order.id) %>

<%= form_with model: @order, url: admin_order_path(@order.id), method: :patch do |f| %>
    <%= f.select :order_status, Order.order_statuses.keys.map {|k| [I18n.t("enums.order.order_status.#{k}"), k]} %>
    <%= f.submit "ステータス変更" %>
<% end %>