<h1>配送先 一覧ページ</h1>

<% @shipping_addresses.each do |s_address| %>
    <%= s_address.name %>
<% end %>

<%= form_with model: @shipping_address, url: shipping_addresses_path, method: :post do |f| %>
    郵便番号：<%= f.text_field :postal_code %><br/>
    住所　　：<%= f.text_field :address %><br/>
    名前　　：<%= f.text_field :name %><br/>
    電話番号：<%= f.text_field :telephone_number %><br/>
    メール　：<%= f.email_field :email %><br/>
    <%= f.submit "登録" %><br/>
<% end %>