<div class="container">
    <div class="row mb-5">
        <div class="col">
            <div class="row mb-3 display-3 font-weight-bold">Cart</div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <th>商品名</th>
                    <th>価格(税込)</th>
                    <th>数量</th>
                    <th>小計</th>
                    <th></th>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mb-5">
        
        <div class="col">
            
        </div>
        
    </div>
    
</div>






<% @cart_items.each do |cart_item| %>
    <% if cart_item.customer_id == current_customer.id %>
        <%= form_with model: cart_item do |f| %>
            <%= f.select :quantity_by_type, *[1..5] %>
            <%= f.submit "変更を保存" %>
            <%= link_to "削除", cart_item_path(cart_item.id), method: :delete %><br/>    
        <% end %>
        
    <% end %>
<% end %>

<%= link_to "カート全部削除", destroy_all_cart_items_path, method: :delete %><br/>
<%= link_to "買い物を続ける", items_path%><br/>
<%= link_to "注文情報入力へ進む", new_order_path%><br/>