<h2>Sign up</h2>

<script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
  
  <!-- 姓 -->
  <div class="field">
    <%= f.label "姓" %>
    <%= f.text_field :last_name, autofocus: true, maxlength: "8" %>
  </div>
  
  <!-- 名 -->
  <div class="field">
    <%= f.label "名" %>
    <%= f.text_field :first_name, maxlength: "8" %>
  </div>
  <!-- 姓-カナ -->
  <div class="field">
    <%= f.label "姓-カナ" %>
    <%= f.text_field :last_name_kana, maxlength: "8" %>
  </div>
  
  <!-- 名-カナ -->
  <div class="field">
    <%= f.label "名-カナ" %>
    <%= f.text_field :first_name_kana, maxlength: "8" %>
  </div>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>
  
  <!-- 郵便番号 -->
  <div class="field">
    <%= f.label "郵便番号" %>
    <%= f.text_field :postal_code %>
  </div>
  
  <!-- 都道府県 -->
  <div class="field">
    <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name %>
  </div>
  
  <!-- 市町村 -->
  <div class="field">
    <%= f.label "市町村" %>
    <%= f.text_field :city %>
  </div>
  
  <!-- 番地 -->
  <div class="field">
    <%= f.label "番地" %>
    <%= f.text_field :street %>
  </div>
  
  <!-- その他住所 -->
  <div class="field">
    <%= f.label "その他住所" %>
    <%= f.text_field :other_address %>
  </div>
  
  <!-- 電話番号 -->
  <div class="field">
    
  </div>
  
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  
  <div class="field">
    
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "public/shared/links" %>
