<div class="container">
    
    <!-- タイトル -->
    <div class="row mb-5 ml-1">
        <div class="display-3 font-weight-bold">ご注文履歴の一覧</div>
    </div>
    
    <!-- テーブル -->
    <div class="container">
        <div class="row mb-5 justify-content-center">
            
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>注文日</th>
                        <th>配送先</th>
                        <th>注文商品</th>
                        <th>商品金額</th>
                        <th>ステータス</th>
                        <th>注文詳細</th>
                    </tr>
                </thead>
                <tbody>
                    <% @orders.each do |order| %>
                        <tr>
                            <!-- 注文日 -->
                            <td class="align-middle"><%= l order.created_at, format: :short %></td>
                            <!-- 配送先 -->
                            <td>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">〒 <%= order.postal_code %></li>
                                    <li class="list-group-item"><%= order.address %></li>
                                </ul>
                            </td>
                            <!-- 注文商品 -->
                            <td class="align-middle">
                                <ul class="list-group list-group-flush">
                                    <% order.order_histories.each do |o_history| %>
                                        <li class="ml-4"><%= o_history.item.name %></li>
                                    <% end %>
                                </ul>
                            </td>
                            <!-- 商品金額 -->
                            <td class="align-middle">¥ <%= order.payment_of_total %></td>
                            <!-- ステータス -->
                            <td class="align-middle text-center"><%= order.order_status_i18n %></td>
                            <!-- 注文詳細 -->
                            <td class="align-middle text-center"><%= link_to "表示する", order_path(order.id), class: 'btn btn-secondary btn-lg' %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            
        </div>
    </div>
    
</div>