<h1>注文情報 入力ページ</h1>

<!--［支払方法］　をラジオボタン -->

<!--［届け先］を選択（自分の住所／配送先／［新規住所］の入力）-->

<!-- ＜確認画面＞　ボタンをクリック -->


<%= form_with model: @order, url: orders_confirm_path, method: :post do |f| %>

    <!--［支払方法］　をラジオボタン -->
    <%= f.radio_button :payment_method, Order.payment_methods.key(0), checked: true %>
    <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %><br/>
    <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
    <%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %><br/>
    <%= f.radio_button :payment_method, Order.payment_methods.key(2) %>
    <%= f.label :payment_method, Order.payment_methods_i18n[:cashless] %><br/>
    <%= f.radio_button :payment_method, Order.payment_methods.key(3) %>
    <%= f.label :payment_method, Order.payment_methods_i18n[:cash_on_delivery] %><br/>
    
    <!--［届け先］を選択（自分の住所／配送先／［新規住所］の入力）-->
    <%= radio_button_tag 'select_address', 0, checked: true %>ご自身の住所<br/>
    〒<%= current_customer.postal_code%><%= current_customer.full_address %><br/>
    <%= radio_button_tag 'select_address', 1 %>登録済住所から選択<br/>
    
    <%= radio_button_tag 'select_address', 2 %>新しいお届け先<br/>
    <%= f.text_field :postal_code %><br/>
    <%= f.text_field :address %><br/>
    <%= f.text_field :postage %><br/>
    
    <%= f.submit "確認画面へ" %>
    
<% end %>