<div class="container">
    
    <div class="row mb-3 display-3 font-weight-bold">Items</div>
    
    <div class="row mb-5">
        
        <!-- 左_ジャンル検索作成予定 -->
        <div class="col-2">
            <%= render'layouts/sidebar', item_genres: @item_genres %>
        </div>
        
        <!-- 右_商品一覧-->
        <div class="col-10">
            <div class="row">
                <% @items.each do |item| %>
                    <div class="col-md-6 col-lg-4 mb-5">
                        <%= link_to item_path(item.id), class: 'card shadow' do %>
                            <%= image_tag item.image, class: 'autosizing-image img-fluid rounded-top' %>
                            <div class="card-body text-white bg-dark">
                                <p class="card-title h4"><%= item.name %></p>
                                <p class="card-text h6">¥<%= item.add_tax_price %></p>
                            </div>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
        
    </div>
</div>