<div class="container">
    
    <div class="row ml-2 mb-3 display-3 font-weight-bold align-items-end">
        <%= @item.name %>
        <h3 class="ml-5">ジャンル名：<%= @item.item_genre.name %></h3>
    </div>
    
    <div class="row mb-5">
        
        <%= render 'layouts/error_messages', resource: @cart_item %>
        
        <!-- 左_ジャンル検索作成予定 -->
        <div class="col-lg-2 d-none d-lg-block">
            <%= render'layouts/sidebar', item_genres: @item_genres %>
        </div>
        
        <!-- 右_商品一覧-->
        <div class="col-lg-10 col-12">
            <div class="row">
                <div class="col-lg-5 mb-3">
                    <%= image_tag @item.image, class: 'autosizing-image rounded shadow' %>
                </div>
                <div class="col-lg-7">
                    <div class="h4"><%= @item.introduction %></div>
                    <div class="h1">¥<%= @item.add_tax_price %></div>
                    
                    <%= form_with model: @cart_item, class: 'mt-auto' do |f| %>
                        <%= f.hidden_field :customer_id, :value => current_customer.id %>
                        <%= f.hidden_field :item_id, :value => @item.id %>
                        <%= f.select :quantity_by_type, *[1..10], {}, class: 'form-control' %>
                        <%= f.submit "カートに追加する", class: 'btn btn-secondary btn-lg btn-block' %>
                    <% end %>
                </div>
            </div>
        </div>
        
    </div>
</div>
