<!DOCTYPE html>
<html>
  <head>
    <title>amber</title>
    <%= csrf_meta_tags %>
    
    <!-- -->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header>
      <!-- [ヘッダーの大枠]の設定 -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light shadow p-3 mb-5 bg-body rounded">
          
        <!-- ロゴ -->
        <%= link_to 'amber', root_path, class: "display-3 text-dark font-weight-bold" %>
        
        <!-- [表示切り替えボタン]の設定 -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- [表示切り替えボタン]の内容 -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
          <!-- 各種リンク -->
          <% if customer_signed_in? %>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item"><%= link_to 'My page',  mypage_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to 'Products', items_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to 'Cart',     cart_items_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to 'Contact',  new_contact_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to 'Log out',  destroy_customer_session_path, method: :delete, class: "nav-link" %></li>
            </ul>
          <% elsif admin_signed_in? %>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item"><%= link_to '注文履歴一覧',       admin_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to '顧客一覧',           admin_customers_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to '商品一覧',           admin_items_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to '商品ジャンル一覧',   admin_item_genres_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to '問合せ一覧',         admin_contacts_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to '問合せジャンル一覧', admin_contact_genres_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to 'ログアウト',         destroy_admin_session_path, method: :delete, class: "nav-link" %></li>
            </ul>
          <% else %>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item"><%= link_to 'Products', items_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to 'Sign up',  new_customer_registration_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to 'Log in',   new_customer_session_path, class: "nav-link" %></li>
            </ul>
          <% end %>
          
          <!-- 検索フォーム -->
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          
        </div>
        
      </nav>
    </header>
    
    <main>
      <%= yield %>
    </main>
    
    <footer>
      <!-- フッター機能追加... 8/12 -->
      <% if customer_signed_in? %>
        <li>メールアドレス： <%= current_customer.email %></li>
        <li><%= link_to 'ロゴ',        root_path %></li>
        <li><%= link_to 'マイページ',  mypage_path %></li>
        <li><%= link_to '商品一覧',    items_path %></li>
        <li><%= link_to 'カート',      cart_items_path %></li>
        <li><%= link_to '問合せ',      new_contact_path %></li>
      <% elsif admin_signed_in? %>
        <li><%= link_to '注文履歴一覧',        admin_path %></li>
        <li><%= link_to '顧客一覧',            admin_customers_path %></li>
        <li><%= link_to '商品一覧',            admin_items_path %></li>
        <li><%= link_to '商品ジャンル一覧',    admin_item_genres_path %></li>
        <li><%= link_to '問合せ一覧',          admin_contacts_path %></li>
        <li><%= link_to '問合せジャンル一覧',  admin_contact_genres_path %></li>
      <% else %>
        <li><%= link_to 'ロゴ',     root_path %></li>
        <li><%= link_to '商品一覧', items_path %></li>
        <li><%= link_to "新規登録", new_customer_registration_path %></li>
      <% end %>
    </footer>
  </body>
  
</html>
