<div class="container">
    
    <!-- タイトル -->
    <div class="row mb-5 justify-content-center">
        <div class="display-3 font-weight-bold text-warning">商品ジャンルの一覧・追加</div>
    </div>
    
    <!-- エラーメッセージ(部分プレート) -->
    <%= render 'layouts/error_messages', resource: @item_genre %>
  
    <div class="container">
        <div class="row mb-5 justify-content-center">
            
            <!-- 左辺 -->
            <div class="col-4">
                <%= form_with model: @item_genre, url: admin_item_genres_path do |f| %>
                    <p class="h3  mb-4">新規登録</p>
                    <div class="row mb-4">
                        <%= f.label :name, "ジャンル名", class: 'col-5 col-form-label' %>
                        <%= f.text_field :name, class: 'col-6 form-control' %>
                    </div>
                    <div class="row mb-4">
                        <%= f.label :introduction, "説明", class: 'col-5 col-form-label' %>
                        <%= f.text_area  :introduction, class: 'col-6 form-control' %>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <%= f.submit "新規登録", class: 'btn btn-danger btn-lg rounded-pill' %>
                    </div>
                <% end %>
            </div>
            
            <!-- 右辺 -->
            <div class="col-8">
                <p class="h3  mb-4">ジャンル一覧</p>
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <th width="13%">ＩＤ</th>
                        <th width="25%">ジャンル名</th>
                        <th>説明</th>
                        <th width="11%"></th>
                        <th width="11%"></th>
                    </thead>
                    <% @item_genres.each do |genre| %>
                        <tbody>
                            <td><%= genre.id %></td>
                            <td><%= genre.name %></td>
                            <td><%= genre.introduction %></td>
                            <td class="text-center">
                                <%= link_to "編集", edit_admin_item_genre_path(genre.id), class: 'btn btn-sm btn-secondary' %>
                            </td>
                            <td class="text-center">
                                <%= link_to "削除", admin_item_genre_path(genre.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: 'btn btn-sm btn-danger rounded-pill' %>
                            </td>
                        </tbody>
                    <% end %>
                </table>
            </div>
            
        </div>
    </div>
    
</div>